<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light" id="user-id" data-id="<%= user._id %>">
        <div class="media d-flex align-items-center"><img src="<%= locals.user.avatar %>" width="65" class="mr-2 rounded-circle img-thumbnail shadow-sm user-avatar">
            <div class="media-body">
                <h4 class="m-0 navbar-info-text"><%= locals.user.fullname %></h4>
                <p class="font-weight-light text-muted mb-0 navbar-info-text"><%= locals.user.department %></p>
            </div>
        </div>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Chức năng</p>
    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="<%= url %>/home" class="nav-link text-dark font-italic ml-3">
                <i class="fas fa-home"></i><span class="mx-1">Trang chủ</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="<%= url %>/notification?page=1" class="nav-link text-dark font-italic ml-3">
                <i class="fas fa-bell"></i><span class="mx-1">Tất cả thông báo</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="<%= url %>/home/wall/<%= user._id %>" class="nav-link text-dark font-italic ml-3">
                <i class="fas fa-user-alt"></i><span class="mx-1">Tường nhà</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="<%= url %>/account/register" class="nav-link text-dark font-italic ml-3">
                <i class="fas fa-user-plus"></i><span class="mx-1">Tạo tài khoản</span>
            </a>
        </li>
    </ul>

    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Tài khoản cá nhân</p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="<%= url %>/account/profile" class="nav-link text-dark font-italic ml-3">
                <i class="fas fa-user-edit"></i><span class="mx-1">Thay đổi thông tin</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="<%= url %>/account/resetPassword" class="nav-link text-dark font-italic ml-3">
                <i class="fas fa-key"></i><span class="mx-1">Thay đổi mật khẩu</span>
            </a>
        </li>        
        <li class="nav-item">
            <a href="<%= url %>/auth/logout" class="nav-link text-dark font-italic ml-3">
                <i class="fas fa-sign-out-alt"></i><span class="mx-1">Đăng xuất</span>
            </a>
        </li>
    </ul>
</div>