<div class="shadow mt-3 mr-4 p-2 bg-white rounded notifications-area">
    <!-- noti header -->
    <div class="noti-header pt-2 pl-2">
        <span class="font-weight-bold text-uppercase">Thông báo mới</span>
        <span class="float-right font-weight-bold mr-2"><a href="<%= url %>/notification?page=1"><u>Xem tất cả</u></a></span>
    </div>
    <!-- end noti header -->

    <hr>
    <!-- noti body -->
    <div class="noti-body overflow-auto" style="max-height: 400px;">
        <ul class="list-group">
            <% notifications.forEach((noti, index) => { 
                if (index % 2 == 0) { %>
                <li class="list-group-item list-group-item-primary">
                <% } else { %>
                <li class="list-group-item">
                <% } %>
                    <a href="<%= url %>/notification/details/<%= noti._id %>" class="notification-sm-window">
                        <div><small class="text-secondary"><%= noti.subject %></small> - <small class="date-time-format"><%= noti.date %></small></div>
                        <div class="font-weight-bold"><%= noti.title %></div>
                        <div class="font-weight-light font-italic text-muted"><%= noti.content %></div>
                    </a>
                </li>
            <% }) %>

            <!-- <li class="list-group-item">
                <div>
                    <div><small class="text-secondary">TDT - 22/02/2021</small></div>
                    <div class="font-weight-bold">Ten thong bao</div>
                    <div class="font-weight-light font-italic text-muted">day la noi dung cua thong bao</div>
                </div>
            </li>

            <li class="list-group-item list-group-item-primary">
                <div>
                    <div><small class="text-secondary">TDT - 22/02/2021</small></div>
                    <div class="font-weight-bold">Ten thong bao</div>
                    <div class="font-weight-light font-italic text-muted">day la noi dung cua thong bao</div>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <div><small class="text-secondary">TDT - 22/02/2021</small></div>
                    <div class="font-weight-bold">Ten thong bao</div>
                    <div class="font-weight-light font-italic text-muted">day la noi dung cua thong bao</div>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <div><small class="text-secondary">TDT - 22/02/2021</small></div>
                    <div class="font-weight-bold">Ten thong bao</div>
                    <div class="font-weight-light font-italic text-muted">day la noi dung cua thong bao</div>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <div><small class="text-secondary">TDT - 22/02/2021</small></div>
                    <div class="font-weight-bold">Ten thong bao</div>
                    <div class="font-weight-light font-italic text-muted">day la noi dung cua thong bao</div>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <div><small class="text-secondary">TDT - 22/02/2021</small></div>
                    <div class="font-weight-bold">Ten thong bao</div>
                    <div class="font-weight-light font-italic text-muted">day la noi dung cua thong bao</div>
                </div>
            </li> -->

        </ul>
    </div>
    <!-- end noti body -->
</div>