<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <%- include('../partials/head.ejs') %>
</head>

<body>
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2 left-part">
                <!-- Vertical navbar -->
                <%- include('../partials/navbar.ejs') %>
                    <!-- End vertical navbar -->
            </div>

            <div class="col-sm-8 col-md-9 col-lg-10 right-part">
                <div class="row">
                    <div class="col-md-8 mt-2">
                    <% if (!permission) { %>
                        <div class="m-3 p-2 bg-white rounded">
                            <!-- new post -->
                            <%- include('../partials/new_post.ejs') %>
                            <!-- end new post -->
                        </div>
                    <% } %>

                        <div class="mx-3 mt-3 mb-3 list-post">

                        </div>
                    </div>

                    <!-- new notifications -->
                    <div class="col-md-4 mt-2">
                        <%- include('../partials/notification.ejs') %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modals -->
    <%- include('../partials/modals.ejs') %>

    <!-- notify -->
    <%- include('../partials/toast_notification.ejs') %>

</body>

</html>