<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>

    <%- include('../partials/head.ejs') %>

    <!-- googleapis -->
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <meta name="google-signin-client_id" content="591004915054-1kjagbh4omn10rg7n36g8p7up4qrv058.apps.googleusercontent.com">

</head>

<body id="image-background">
    <div class="d-flex h-100">
        <div class="w-25 bg-white container px-4 pt-2 border rounded align-self-center login-form">
            <div class="row d-flex justify-content-center">
                <h1>Đăng nhập</h1>
            </div>

            <div class="row">
                <div class="w-100 px-3 pt-4 pb-2">
                    <form action="./login" method="post">
                        <div class="form-group">
                            <label for="username" class="mb-0">Tên đăng nhập</label>
                            <input value="<%= locals.username %>" placeholder="Tên đăng nhập" type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group mb-2">
                            <label for="pass" class="mb-0">Mật khẩu</label>
                            <input value="<%= locals.pass %>" placeholder="Mật khẩu" type="password" class="form-control" id="pass" name="pass">
                        </div>

                        <div class="form-group form-check mb-4">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox"> Ghi nhớ cho lần đăng nhập tiếp
                            </label>
                        </div>
    
                        <% if (locals.messages.error && locals.messages.error != '') { %>                
                            <div class="alert alert-danger">
                                <%= locals.messages.error  %>
                            </div> 
                        <% } %>
            
                        <div class="form-group">
                            <button type="submit" class="w-100 btn btn-primary">Đăng nhập</button>
                        </div>   
                    </form>

                    <hr>
                    <div class="d-flex justify-content-center mt-4">
                        <a href="<%= url %>/auth/google" class="btn btn-success w-100"><i class="fab fa-google"></i><span class="mx-2">Đăng nhập với Google</span></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>

</html>