<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tất cả thông báo</title>

    <%- include('../partials/head.ejs') %>
</head>

<body>
    <div class="row all-notifications py-4">
        <div class="col-md-0 col-lg-2 left-part">
            <!-- Vertical navbar -->
            <%- include('../partials/navbar.ejs') %>
                <!-- End vertical navbar -->
        </div>

        <div class="col-md-11 col-lg-10 d-flex justify-content-center notification mx-auto">
            <div class="shadow-lg p-3 bg-white rounded mx-auto w-75">
                <div>
                    <div>
                        <form action="./notification/filter" class="row mx-auto">
                            <select name="department" id="phongkhoa" class="phongkhoa custom-select col-md-8">
                                <option value="" selected>Tất cả</option>
                                <option value="Phòng công tác học sinh sinh viên (CTHSSV)">Phòng Công tác học sinh sinh viên (CTHSSV)</option>
                                <option value="Phòng đại học">Phòng Đại học</option>
                                <option value="Phòng sau đại học">Phòng Sau đại học</option>
                                <option value="Phòng điện toán và máy tính">Phòng điện toán và máy tính</option>
                                <option value="Phòng khảo thí và kiểm định chất lượng">Phòng khảo thí và kiểm định chất lượng</option>
                                <option value="Phòng tài chính">Phòng Tài chính</option>
                                <option value="TDT creative Language Center">TDT Creative Language Center</option>
                                <option value="Trung tâm tin học">Trung tâm tin học</option>
                                <option value="Trung tâm đào tạo phát triển xã hội (SDTC)">Trung tâm đào tạo phát triển xã hội (SDTC)</option>
                                <option value="Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM)">Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM)</option>
                                <option value="Trung tâm hợp tác doanh nghiệp và cựu sinh viên">Trung tâm hợp tác doanh nghiệp và cựu sinh viên</option>
                                <option value="Khoa luật">Khoa Luật</option>
                                <option value="Trung tâm ngoại ngữ - tin học – bồi dưỡng văn hóa">Trung tâm ngoại ngữ - tin học – bồi dưỡng văn hóa</option>
                                <option value="Viện chính sách kinh tế và kinh doanh">Viện chính sách kinh tế và kinh doanh</option>
                                <option value="Khoa mỹ thuật công nghiệp">Khoa Mỹ thuật công nghiệp</option>
                                <option value="Khoa điện – Điện tử">Khoa Điện – Điện tử</option>
                                <option value="Khoa công nghệ thông tin">Khoa Công nghệ thông tin</option>
                                <option value="Khoa quản trị kinh doanh">Khoa Quản trị kinh doanh</option>
                                <option value="Khoa môi trường và bảo hộ lao động">Khoa Môi trường và bảo hộ lao động </option>
                                <option value="Khoa lao động công đoàn">Khoa Lao động công đoàn</option>
                                <option value="Khoa tài chính ngân hàng">Khoa Tài chính ngân hàng</option>
                                <option value="Khoa giáo dục quốc tế">Khoa giáo dục quốc tế</option>
                            </select>
                            <button type="submit" class="btn btn-success col-md-3 ml-auto" id="searchNotifications">Tìm kiếm</button>
                        </form>
                    </div>

                    <% if (locals.isAdded == true) { %> 
                        <div class="row d-flex justify-content-end m-auto">
                            <button type="button" class="btn btn-primary col-md-12 col-lg-3 col-sm-12" data-toggle="modal" data-target="#new-notification">
                                Đăng thông báo mới
                            </button>
                        </div>
                    <% } %>
                </div>
    
                <div id="noti-list">
                    <% if (locals.notiList) { %>
                        <% notiList.forEach((n, index) => { %>
                            <div class="card my-4 w-100">
                                <div class="card-body">
                                    <h5 class="card-title text-uppercase text-truncate mx-100 text-wrap text-break"><%= n.title %></h5>
                                    <h6 class="card-subtitle mb-2 text-muted mx-100 text-wrap text-break"><%= n.content %></h6>
                                    <a href="<%= locals.link[index] %>" class="card-link">Chi tiết thông báo</a>
                                    <div class="phongban-date"><%= n.subject %> | <%= locals.date[index] %></div>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>
                </div>

                 
                <% if (locals.pagi && locals.pagi.total > 1) { %>
                    <div class="d-flex justify-content-center">
                        <div class="page-number-list d-inline">
                            <a href="<%= locals.pagi_link + 1 %>" class="page-number btn"><<</a>
                            <a href="<%= (locals.pagi.page - 1) <= 1 ? locals.pagi_link + '1' : locals.pagi_link + (locals.pagi.page - 1) %>" class="page-number btn"><</a>

                                <% for (let i = 1; i <= pagi.total; i++) { %>
                                    <% if (locals.pagi.page == i) { %>
                                        <a href="<%= locals.pagi_link + i %>" class="page-number btn btn-primary"><%= i %></a>
                                    <% } else { %>
                                        <a href="<%= locals.pagi_link + i %>" class="page-number btn"><%= i %></a>
                                    <% } %>
                                <% } %>

                            <a href="<%= (locals.pagi.page + 1) >= pagi.total ? locals.pagi_link + pagi.total : locals.pagi_link + (locals.pagi.page + 1) %>" class="page-number btn">></a>
                            <a href="<%= locals.pagi_link + pagi.total %>" class="page-number btn">>></a>
                        </div>
                    </div>
                <% } %>

            </div>
        </div>

    </div>

    <!-- Modal -->
    <%- include('../partials/notification_modal.ejs') %>

    <!-- notify -->
    <%- include('../partials/toast_notification.ejs') %>

</body>

</html>