<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tất cả thông báo</title>

    <%- include('../partials/head.ejs') %>
</head>

<body>
    <div class="row all-notifications">
        <div class="col-3">
            <%- include('../partials/navbar.ejs') %>
        </div>

        <div class="col-8 d-flex justify-content-center my-4">
            <div class="shadow-lg p-3 bg-white rounded mx-auto">
                <div class="row">
                    <div class="col-lg-8">
                        <form action="./notification/filter?">
                            <select name="deparment" id="phongkhoa" class="phongkhoa custom-select">
                                <option value="" selected>Chọn Khoa/Phòng</option>
                                <option value="phongcthssv">Phòng Công tác học sinh sinh viên (CTHSSV)</option>
                                <option value="phongdaihoc">Phòng Đại học</option>
                                <option value="phongsaudaihoc">Phòng Sau đại học</option>
                                <option value="phongdientoanvamaytinh">Phòng điện toán và máy tính</option>
                                <option value="phongkhaotivakiemdinhchatluong">Phòng khảo thí và kiểm định chất lượng</option>
                                <option value="phongtaichinh">Phòng tài chính</option>
                                <option value="phongclc">TDT Creative Language Center</option>
                                <option value="trungtamtinhoc">Trung tâm tin học</option>
                                <option value="sdtc">Trung tâm đào tạo phát triển xã hội (SDTC)</option>
                                <option value="atem">Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM)</option>
                                <option value="trungtamhoptacdoanhnghiepvacuusinhvien">Trung tâm hợp tác doanh nghiệp và cựu sinh viên</option>
                                <option value="khoaluat">Khoa Luật</option>
                                <option value="trungtamngoaingutinhocboiduongvanhoa">Trung tâm ngoại ngữ - tin học – bồi dưỡng văn hóa</option>
                                <option value="vienchinhsachkinhtevakinhdoanh">Viện chính sách kinh tế và kinh doanh</option>
                                <option value="khoamtcn">Khoa Mỹ thuật công nghiệp</option>
                                <option value="khoadiendientu">Khoa Điện – Điện tử</option>
                                <option value="khoacntt">Khoa Công nghệ thông tin</option>
                                <option value="khoaquantrikinhdoanh">Khoa Quản trị kinh doanh</option>
                                <option value="khoamoitruongvabaoholaoding">Khoa Môi trường và bảo hộ lao động </option>
                                <option value="khoalaodongcongdoan">Khoa Lao động công đoàn</option>
                                <option value="khoataichinhnganhang">Khoa Tài chính ngân hàng</option>
                                <option value="khoagiaoducquocte">Khoa giáo dục quốc tế</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success" id="searchNotifications">Tìm kiếm</button>
                    </form>

                    <div class="d-flex flex-row-reverse">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-notification">
                            Đăng thông báo mới
                        </button>
                    </div>
                </div>
    
                <div id="noti-list">
                    <% if (locals.notiList) { %>
                        <% notiList.forEach((n, index) => { %>
                            <div class="card my-4 w-100">
                                <div class="card-body">
                                    <h5 class="card-title text-uppercase text-truncate mx-100 text-wrap text-break"><%= n.title %></h5>
                                    <h6 class="card-subtitle mb-2 text-muted mx-100 text-wrap text-break"><%= n.content %></h6>
                                    <a href="<%= locals.link[index] %>" class="card-link">Chi tiết thông báo</a>
                                    <div class="phongban-date"><%= n.subject %> | <%= locals.date[index] %></div>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>
                </div>

                 
                <% if (locals.pagi && locals.pagi.total > 1) { %>
                    <div class="d-flex justify-content-center">
                        <div class="page-number-list d-inline">
                            <a href="<%= locals.pagi_link + 1 %>" class="page-number btn"><<</a>
                            <a href="<%= (locals.pagi.page - 1) <= 1 ? locals.pagi_link + '1' : locals.pagi_link + (locals.pagi.page - 1) %>" class="page-number btn"><</a>

                                <% for (let i = 1; i <= pagi.total; i++) { %>
                                    <% if (locals.pagi.page == i) { %>
                                        <a href="<%= locals.pagi_link + i %>" class="page-number btn btn-primary"><%= i %></a>
                                    <% } else { %>
                                        <a href="<%= locals.pagi_link + i %>" class="page-number btn"><%= i %></a>
                                    <% } %>
                                <% } %>

                            <a href="<%= (locals.pagi.page + 1) >= pagi.total ? locals.pagi_link + pagi.total : locals.pagi_link + (locals.pagi.page + 1) %>" class="page-number btn">></a>
                            <a href="<%= locals.pagi_link + pagi.total %>" class="page-number btn">>></a>
                        </div>
                    </div>
                <% } %>

            </div>
        </div>

    </div>


    <!-- Modal -->
    <%- include('../partials/new_notifictation.ejs') %>

    <!-- notify -->
    <%- include('../partials/toast_notification.ejs') %>

</body>

</html>