<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang cá nhân</title>

    <%- include('../partials/head.ejs') %>
</head>

<body>
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2 left-part">
                <!-- Vertical navbar -->
                <%- include('../partials/navbar.ejs') %>
                    <!-- End vertical navbar -->
            </div>

            <div class="col-sm-8 col-md-9 col-lg-10 right-part">
                <div class="row">
                    <div class="mt-4 mx-auto w-75">
                        <div class="personal">
                            <div class="background-personal rounded">
                                <div class="personal-info d-flex">
                                    <img src="<%= personal.avatar %>" class="rounded-circle img-thumbnail persional-info-avatar" alt="personal profile avatar">
                                    <div class="align-self-center personal-text">
                                        <div class="h2 mx-3 mt-2" id="personal-fullname" data-id="<%= personal._id %>"><%= personal.fullname %></div>
                                        <div class="h5 mx-3" id="personal-major"><%= personal.department %></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- post here -->
                        <div class="mt-4 mb-3 list-post">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <!-- modals -->
    <%- include('../partials/modals.ejs') %>

    <!-- notify -->
    <%- include('../partials/toast_notification.ejs') %>
</body>

</html>