<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin cá nhân</title>

    <%- include('../partials/head.ejs') %>
</head>

<body id="image-background">
    <div class="h-100 d-flex mr-5">
        <div class="w-25 px-4 py-2 align-self-center register-form container mr-5">
            <div class="row">
                <div class="w-100 px-3 pt-4 pb-2">
                    <h2 class="justify-content-center text-center">Thông tin tài khoản</h2>
                    <form method="post" class="my-4" enctype="multipart/form-data">
                        
                        <div class="change-avatar mb-3">
                            <img src="<%= locals.avatar %>" id="avatar" class="avatar img-thumbnail " alt="avatar">
                            
                            <input id="upload" type="file" name="avatar"/>
                            <a id="upload_link">Chọn ảnh đại diện</a>
                        </div>

                        
                        <div class="form-group">
                            <label class="mx-1 my-0">Email</label>
                            <input value="<%= locals.email %>" type="text" readonly placeholder="Email" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label class="mx-1 my-0">Tên hiển thị</label>
                            <input value="<%= locals.fullname %>" type="text" placeholder="Tên hiển thị" class="form-control" id="fullname" name="fullname">
                        </div>
                        <div class="form-group">
                            <label class="mx-1 my-0">Lớp</label>
                            <input value="<%= locals._class %>" type="text" placeholder="Lớp" class="form-control" id="class" name="_class">
                        </div>
                        
                        <div>Khoa</div>
                        <select name="department" class="selectpicker phongkhoa custom-select">
                            <option <%= locals.department == "" ? "selected" : "" %> value="">Chọn khoa</option>
                            <option <%= locals.department == "khoa luật" ? "selected" : "" %> value="Khoa luật">Khoa Luật</option>
                            <option <%= locals.department == "khoa mỹ thuật công nghiệp" ? "selected" : "" %> value="Khoa mỹ thuật công nghiệp">Khoa Mỹ thuật công nghiệp</option>
                            <option <%= locals.department == "khoa điện – Điện tử" ? "selected" : "" %> value="Khoa điện – Điện tử">Khoa Điện – Điện tử</option>
                            <option <%= locals.department == "khoa công nghệ thông tin" ? "selected" : "" %> value="Khoa công nghệ thông tin">Khoa Công nghệ thông tin</option>
                            <option <%= locals.department == "khoa quản trị kinh doanh" ? "selected" : "" %> value="Khoa quản trị kinh doanh">Khoa Quản trị kinh doanh</option>
                            <option <%= locals.department == "khoa môi trường và bảo hộ lao động" ? "selected" : "" %> value="Khoa môi trường và bảo hộ lao động">Khoa Môi trường và bảo hộ lao động </option>
                            <option <%= locals.department == "khoa lao động công đoàn" ? "selected" : "" %> value="Khoa lao động công đoàn">Khoa Lao động công đoàn</option>
                            <option <%= locals.department == "khoa tài chính ngân hàng" ? "selected" : "" %> value="Khoa tài chính ngân hàng">Khoa Tài chính ngân hàng</option>
                            <option <%= locals.department == "khoa giáo dục quốc tế" ? "selected" : "" %> value="Khoa giáo dục quốc tế">Khoa giáo dục quốc tế</option>
                        </select>
    
                        <% if (locals.error && locals.error != '') { %>                
                            <div class="alert alert-danger m-1 w-100">
                                <%= locals.error %> 
                            </div> 
                        <% } %>
                        
                        <div class="form-group">
                            <button type="submit" id="submit" class="form-submit btn">Cập nhật</button>
                            <a type="button" href="<%= url %>/home" class="form-back-home btn">
                                <i class="fas fa-arrow-left"></i><span class="mx-2">Trở về trang chủ</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</body>
</html>