<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo tài khoản phòng ban</title>

    <%- include('../partials/head.ejs') %>
</head>

<body id="image-background">
    <div class="h-100 d-flex mr-5">
        <div class="w-25 px-4 py-2 align-self-center register-form container mr-5">
            <div class="row">
                <div class="w-100 px-3 pt-4 pb-2">
                    <h2 class="justify-content-center text-center">Tạo tài khoản</h2>
                    <form method="post">

                        <div class="form-group">
                            <label class="mx-1 my-0" for="account-name">Tên Phòng/Khoa</label>
                            <input value="<%= locals.department %>" type="text" placeholder="Tên Phòng/Khoa" class="form-control" id="account-name" name="department">
                        </div>
                        <div class="form-group">
                            <label class="mx-1 my-0" for="name">Tên tài khoản Phòng/Khoa</label>
                            <input value="<%= locals.username %>" type="text" placeholder="Tên tài khoản Phòng/Khoa" class="form-control" id="name" name="username">
                        </div>
                        <div class="form-group">
                            <label class="mx-1 my-0" for="password">Mật khẩu</label>
                            <input value="<%= locals.password %>" type="password" placeholder="Mật khẩu" class="form-control" id="password" name="password">
                        </div>
                        <div class="form-group">
                            <label class="mx-1 my-0" for="repeat-password">Xác nhận mật khẩu mới</label>
                            <input value="<%= locals.re_password %>" type="password"  placeholder="Nhập lại mật khẩu" class="form-control" id="repeat-password" name="re_password">
                        </div>
                        
                        <label class="mx-1 my-0" for="permissions-dropdown">Phân quyền Phòng/Khoa</label>
                        <button id="permissions-dropdown" type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu permissions-dropdown">
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Phòng công tác học sinh sinh viên (CTHSSV)"> Phòng Công tác học sinh sinh viên (CTHSSV)</label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Phòng đại học"> Phòng Đại học</label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Phòng sau đại học"> Phòng Sau đại học</label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Phòng điện toán và máy tính"> Phòng điện toán và máy tính</label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Phòng khảo thí và kiểm định chất lượng"> Phòng khảo thí và kiểm định chất lượng </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Phòng tài chính"> Phòng tài chính </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="TDT creative Language Center"> TDT Creative Language Center </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Trung tâm tin học"> Trung tâm tin học </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Trung tâm đào tạo phát triển xã hội (SDTC)"> Trung tâm đào tạo phát triển xã hội (SDTC) </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM)"> Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM) </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Trung tâm hợp tác doanh nghiệp và cựu sinh viên"> Trung tâm hợp tác doanh nghiệp và cựu sinh viên </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Khoa luật"> Khoa Luật </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Trung tâm ngoại ngữ - tin học – bồi dưỡng văn hóa"> Trung tâm ngoại ngữ - tin học – bồi dưỡng văn hóa </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Viện chính sách kinh tế và kinh doanh"> Viện chính sách kinh tế và kinh doanh </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Khoa mỹ thuật công nghiệp"> Khoa Mỹ thuật công nghiệp </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Khoa điện – Điện tử"> Khoa Điện – Điện tử </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Khoa công nghệ thông tin"> Khoa Công nghệ thông tin </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Khoa quản trị kinh doanh"> Khoa Quản trị kinh doanh </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Khoa môi trường và bảo hộ lao động"> Khoa Môi trường và bảo hộ lao động </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Khoa lao động công đoàn"> Khoa Lao động công đoàn </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Khoa tài chính ngân hàng"> Khoa Tài chính ngân hàng  </label></div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="permissions" value="Khoa giáo dục quốc tế"> Khoa giáo dục quốc tế </label></div>
                        </div>

                        <% if (locals.error && locals.error != '') { %>
                            <div class="alert alert-danger">
                                <%= error  %>
                            </div> 
                        <% } %>

                        <% if (locals.success && locals.success != '') { %>
                            <div class="alert alert-success">
                                <%= success  %>
                            </div> 
                        <% } %>

                        <div class="form-group">
                            <button type="submit" id="submit" class="form-submit btn">Tạo tài khoản</button>
                        </div>

                        <div class="d-flex justify-content-center mt-2">
                            <a href="<%= url %>/home"><i class="fas fa-arrow-left">Trở về trang chủ</i></a>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</body>

</html>